html, body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #000000;
  overflow-x: hidden;
}

/* Hexagon background for entire website */
body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("./src/assets/hexagon-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.35;  
  z-index: -1;     
}